@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add this custom style if necessary to control the flex wrap behavior */
.input-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px; /* You can adjust this value as needed */
}


@keyframes blink {
  0%, 100% {
    border-color: transparent;
  }
  50% {
    border-color: black;
  }
}

.blinking {
  animation: blink 1s infinite;
  border-bottom-width: 2px;
}

/* ReviewCommon.css */
.review-card {
  transition: all 0.3s ease-in-out;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.review-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
}

.wave-animation {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 150px;
  height: 150px;
  background: radial-gradient(circle, rgba(72, 209, 204, 0.6) 0%, rgba(255,255,255,0) 70%);
  border-radius: 50%;
  animation: wave 2s infinite, colorChange 6s infinite;
}

@keyframes wave {
  0% {
    width: 0px;
    height: 0px;
    opacity: 1;
  }
  100% {
    width: 500px;
    height: 500px;
    opacity: 0;
  }
}

@keyframes colorChange {
  0% { background-color: rgba(72, 209, 204, 0.6); }
  33% { background-color: rgba(46, 204, 113, 0.6); }
  66% { background-color: rgba(52, 152, 219, 0.6); }
  100% { background-color: rgba(72, 209, 204, 0.6); }
}

.icon-bounce {
  animation: bounce 0.6s ease infinite;
}

@keyframes bounce {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
}

@keyframes shimmer {
  to { background-position: 200% center; }
}