@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add this custom style if necessary to control the flex wrap behavior */
.input-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8px; /* You can adjust this value as needed */
}


@keyframes blink {
  0%, 100% {
    border-color: transparent;
  }
  50% {
    border-color: black;
  }
}

.blinking {
  animation: blink 1s infinite;
  border-bottom-width: 2px;
}


  